@import "../../variables.scss";

.Food {
  flex: 0 0 320px;
  width: 320px;
  margin-left: 0;
  position: relative;

  &__card {
    text-align: left;
    padding-left: 49px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    width: 320px;
    min-height: 480-42px;
    margin-top: 42px;
    margin-bottom: 13px;
    border: 4px solid $blue;
    border-top: none;
    background: $lightGray url("./images/Photo.webp") left bottom no-repeat;

    &::after {
      content: "";
      height: 59px;
      width: 30px;
      background: $lightGray;
      position: absolute;
      left: 0;
      top: -17px;
      border-left: 5px solid $blue;
      transform-origin: bottom left;
      transform: rotate(45deg);
    }

    &::before {
      content: "";
      height: 43px;
      width: 320-42px;
      background: $lightGray;
      border: 4px solid $blue;
      border-left: none;
      border-radius: 0 10px 0 0;
      border-bottom: none;
      position: absolute;
      top: 0;
      right: 0;
    }

    &_selected,
    &_selected::before,
    &_selected::after {
      border-color: $red;
    }

    &_selected {

      .Food__weightWrapper {
        background-color: $red;
      }
    }

    &_disabled,
    &_disabled::before,
    &_disabled::after {
      cursor: default;
      border-color: $gray;
    }

    &_disabled {
      background-image: url("./images/Photo_opacity.webp");

      .Food__descriptionWrapper {
        opacity: .5;
      }

      .Food__weightWrapper {
        background-color: $gray;
      }
    }
  }

  &__descriptionWrapper {
    position: absolute;
    top: 20px;
    left: 46px;
    z-index: 10;
  }

  &__description {
    padding-left: 2px;
    color: $darkGray;
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 9px;

    &_hovered {
      color: $pink;
    }
  }

  &__title {
    margin-top: 0;
    color: $black;
    font-family: "Trebuchet MS";
    font-size: 48px;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 3.5px;
  }

  &__subtitle {
    padding-left: 2px;
    margin-top: 0;
    margin-bottom: 15px;
    color: $black;
    font-family: "Trebuchet MS";
    font-size: 24px;
    font-weight: 700;
  }

  &__portions,
  &__mouses,
  &__like {
    padding-left: 2px;
    color: $darkGray;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }

  &__weightWrapper {
    position: absolute;
    top: 384px;
    right: 15px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: $blue;
    text-align: center;
  }

  &__weight {
    margin-bottom: 7px;
    color: $white;
    font-family: "Trebuchet MS";
    padding-top: 21px;
    font-size: 42px;
    font-weight: 400;
    line-height: 22px;
  }

  &__weightUnit {
    color: $white;
    font-family: "Trebuchet MS";
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
  }

  &__text {
    text-shadow: 0 1px 0 $black;
    color: $white;
    font-family: "Trebuchet MS";
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 13px;

    &_disabled {
      color: $yellow;
    }
  }

  &__textLink {
    color: $blue;
    cursor: pointer;
    border-bottom: 1px dashed $blue;
  }
}